@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(#0b004c, #1d152f, #002834);
    color: white;
}
